
/v_log
/.Xil
/.jou
/webtalk
/RemoteSystemsTempFiles

/v_log

v_log
.Xil
.jou
webtalk
RemoteSystemsTempFiles
/src/gpio/*
/src/http/*
src/gpio/*
src/http/*
src/webserver/*
v_log
*.runs
*.cache
*.jobs
*.log
*.metadata
*.jou
*.Xil
hsi_info.txt
sdk_info.txt