
/v_log
/.Xil
/.jou
/webtalk
/RemoteSystemsTempFiles

/v_log

v_log
.Xil
.jou
webtalk
RemoteSystemsTempFiles
/src/gpio/*
/src/http/*
src/gpio/*
src/http/*
src/webserver/*
v_log
*.runs
*.cache
*.jobs
*.log
*.metadata
*.jou
*.Xil
hsi_info.txt
sdk_info.txt

ZEDBOARD/v_log
ZEDBOARD/workspace/sdk/.metadata
ZEDBOARD/workspace/sdk/.Xil
ZEDBOARD/workspace/sdk/D5M/*
ZEDBOARD/workspace/sdk/webtalk
ZEDBOARD/workspace/sdk/RemoteSystemsTempFiles
ZEDBOARD/workspace/sdk/SDK.log
/src/gpio/*
/src/http/*
/src/webserver/*
src/gpio/*
src/http/*
src/webserver/*